html {
	height: 100%;
}
body {
	background-color: #2a2d34;
	background-image: url('../img/bg.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 100%;
}

.background-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: blur(5px);
	-webkit-filter: blur(5px); 
	-moz-filter: blur(5px); 
	-o-filter: blur(5px); 
	-ms-filter: blur(5px);
}
div.content-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(42,45,52,0.6);
}
div.content-wrapper {
	height: 100%;
	width: 100%;
	display: table;
}
div.content {
	display: table-cell;
	vertical-align: middle;
}
img.logo {
}